<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.lukpank.lupanmemo"
    android:versionCode="1"
    android:versionName="0.2.2" >

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="io.github.lukpank.lupanmemo.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="io.github.lukpank.lupanmemo.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="io.github.lukpank.lupanmemo.BestResultsActivity"
            android:label="@string/title_activity_best_results" >
        </activity>
    </application>

</manifest>
